* {padding:0;
margin:0;}
header  {
    color:black;
   /* text-align: center;
    line-height: 10px;*/
    background-color: chocolate;
    box-shadow: 0px 3px 5px gray;
    width:100vw;
    margin: 0 auto;
}
#menubar  {
    font-size: 1.1em;
    color:black;
    text-align: left;
    float:left;
    font-weight: bold;
}
/*style="font-size:20px;cursor:pointer;color:white;text-align:left;float:left;font-weight:bold;"*/

/* the 9ja header style*/
#tophead  {
    text-align: right;
    margin-right: 5px;
    font-size: 1.2em;
}
#ish {
    padding-left: 10px;
}
/*style for the level and score*/
.label  {
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}
.result  {
    font-size: 1.5em;
    font-weight: 700;
    padding-right: 15px;
}

/* design for the body*/
body {
    width:100vw;
    margin:0 auto;
   // background-color: beige;
    background-image: url("images/background6.jpg");
    height:100vh;
    overflow: hidden;
}

html {
    height:100vh;
    width:100vw;
    overflow: hidden;
}

/*Know more button*/
#research {
    background-color: white;
    color:forestgreen;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #888888;
    margin :5px 0 5px 41px;
}
#clue {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color:firebrick;
}
#images {
    border: 2px groove green;
    border-radius: 25px;
    box-shadow: 4px 7px 8px #888888;
    margin-top: 40px;
    margin-left:45px;
    width:70%;
    height:210px;
}
/*text input design*/
#trial {
   border: 2px ridge green;
    background-color: black;
    font-size: 1.2em;
    color:lawngreen;
    margin-left:51px;
    font-weight: bolder;
    width:70%;
}
/*buttons*/
.entry {
    display: block;
    width:35px;
    margin-right: 5px;
    background-color: ghostwhite;
    color:black;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    text-transform: uppercase;
    height: 28px;
    position: relative;
    vertical-align: baseline;

}

#options div {
    width: 35px;
    display: inline-block;
    height: 28px;
    border: 1px groove transparent;
    margin-right: 3px;
    overflow: hidden;
    background-color: darkslategray;
    border-radius: 4px;
    text-align: center;

}

.master {
    width:80px;
    margin-right: 15px;
    background-color: white;
    color:green;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 5px;
}
  #hinter {
    width:100px;
    margin-right: 15px;
    background-color: lightcyan;
    color:darkred;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 5px;
}
#options  {
    margin-left: 33px;
    line-height: 4px;
    width:100vw;
    padding-left: 5px;
}

/*.controls  {
    margin-left: 95px;
    line-height: 4px;
}*/

.controller  {
    margin-left: 25px;
    line-height: 15px;
    margin-bottom: 15px;
}
#result  {
    font-size: 1.2em;
    color:darkseagreen;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 65px;
    text-shadow: 1px 1px black;
}
#help  {
    font-size: 1.2em;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-weight: bolder;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkseagreen;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:azure;
}
button.accordion {
    background-color: #eee;
    color: #444;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
    color:forestgreen;
    line-height: 1.2em;
    font-size: 1.1em;
    font-weight: 500;
}

#menuname {
    font-size: 0.4em;
    color:white;
    text-align: left;
    font-weight: 200;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 320px) {
  #options {margin-left: 30px;}
    #research {margin-left: 55px;}
    .entry {font-size: 1.05em;}
}

@media screen and (min-height: 570px) and (max-height: 640px) {
  #images {height: 35vh;}
  .entry {font-size: 1.3em;
    }
      #research {margin-left: 65px;}
    #help, #result {font-size: 1.5em;}
    #clue {font-size: 1.4em;}
}

@media screen and (min-height: 720px) and (max-height: 890px) {
  #images {height: 40vh;}
      .entry {font-size: 1.3em;
    }
      #research {margin-left: 65px;}
    header {height: 7vh;padding-top: 10px;}
    .controls {font-size: 1.3em;}
    .controller {font-size: 1.3em;}
    #help, #result {font-size: 1.5em;}
    #clue {font-size: 1.6em;}
    #hinter {width:35vw;}
}

@media screen and (min-width: 500px) and (min-height: 900px) {
  header {font-size: 2em;height: auto}
    #research {margin-left: 18vw;}
    #menubar {font-size: 1.3em;}
    #research {font-size: 1.8em;margin-left: 24vw;}
    #clue {font-size: 2em;}
    #images {margin-left: 13vw; height:40vh}
    #trial {font-size: 1.9em; height: 4vh;margin-left: 13vw;}
    .controls {font-size: 1.7em;margin-left: 20vw;}
    .controller {font-size: 1.7em;margin-left: 20vw;}
    #check , #hinter {width:25vw;}
    #space, #backspace {width:25vw;}
    #options {font-size: 1.7em;margin-left: 16vw;}
    .entry {margin-right: 6vw;}
    #result, #help {font-size: 2em; font-weight: bold;margin-left: 27vw;}
}

.inputx {
    width:23px;
    margin-right: 5px;
    height: 27px;
    background-color: black;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}
#clickable  {
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 35px;
    margin-right: 30px;
}

/* The Modal (background) */
#commenter  {
    font-size: 1.4em;
}

.close  {
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

#myBtn {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
}


.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#faceslinks {
    display: inline-block;
    height: 100px;
    overflow-y: scroll;
}

.linking {
    margin-right: 5px;
}
